{% extends 'base.html.twig' %}

{% block title %}Modifier dossier{% endblock %}

{% block body %}
<h1>Modifier dossier</h1>
<div class="card" style="max-width: 520px;">
    {{ include('animal_folder/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
</div>
<a class="btn btn-outline" href="{{ path('app_animal_folder_index') }}">← Retour à la liste</a>
{{ include('animal_folder/_delete_form.html.twig') }}
{% endblock %}
