{% extends 'base.html.twig' %}

{% block title %}Nouveau document{% endblock %}

{% block body %}
<h1>Créer un nouveau document</h1>

<div class="card" style="max-width: 600px;">
    {{ include('document/_form.html.twig') }}
</div>

<a class="btn btn-outline" href="{{ path('app_document_index') }}">← Retour à la liste</a>
{% endblock %}
