{% extends 'base.html.twig' %}

{% block body %}
<h1>Connexion</h1>

{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans }}</div>
{% endif %}

<form method="post">
    <input type="email" name="_username" value="{{ last_username }}" placeholder="Email" required>
    <input type="password" name="_password" placeholder="Mot de passe" required>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button type="submit">Se connecter</button>
</form>

<p>
        Pas encore de compte ?
        <a class="btn" href="{{ path('app_register') }}">Inscription</a>
    </p>
{% endblock %}