<h2>Votre rendez-vous a été refusé ❌</h2>
<p>Bonjour,</p>
<p>Malheureusement, votre demande de rendez-vous pour <strong>{{ request.animal }}</strong>
   le <strong>{{ request.wantedDate|date('d/m/Y') }}</strong> n'a pas pu être acceptée.</p>
<p>N'hésitez pas à soumettre une nouvelle demande.</p>